<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>予定編集</title>
</head>

<body>

	<h2>予定編集</h2>

	<hr>

	<form th:action="@{/schedules/update}"
		  th:object="${schedule}"
		  method="post">

		<!-- ID -->
		<input type="hidden" th:field="*{id}">

		<!-- 予定日 -->
		<div>
			<label>予定日</label>
			<input type="date" th:field="*{scheduleDate}">
		</div>

		<br>

		<!-- 予定 -->
		<div>
			<label>予定</label>
			<input type="text" th:field="*{title}">
		</div>

		<br>

		<!-- 詳細 -->
		<div>
			<label>詳細</label>
			<textarea th:field="*{detail}"></textarea>
		</div>

		<br>

		<!-- 更新ボタン -->
		<input type="submit" value="更新">

	</form>

	<br>

	<a th:href="@{/schedules}">
		予定一覧へ戻る
	</a>

</body>

</html>